html, 
body {
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: $base01;
    background-image: url('https://github.com/Manjaro-Sway/desktop-settings/raw/sway/community/sway/usr/share/backgrounds/sway/atlas-ark-1970.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
}