$color-background: #141a1b;
$base00: #141a1b;
$base01: #282a2b;
$base02: #3B758C;
$base03: #41535B;
$base04: #43a5d5;
$base05: #d6d6d6;
$color-text: #eeeeee;
$base07: #ffffff;
$color-error: #Cd3f45;
$base09: #db7b55;
$color-warning: #e6cd69;
$color-highlight: #9fca56;
$color-accent: #16a085;
$base0D: #55b5db;
$base0E: #a074c4;
$base0F: #8a553f;